@media (min-width: 800px) {
    /* Title */
    header h1 {
        font-size: 3rem;
        letter-spacing: 3px;
    }
    /* Main photo */
    .hero-image {
        height: 80vh; 
        min-height: 600px;
        object-fit: cover;
    }
    .info-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end; 
        padding: 3rem;
        pointer-events: none; 
    }

    /* cards */
    .card {
        pointer-events: auto; 
        width: 320px;
        background-color: #ffffffd9;
        border: none;
        position: relative;
        padding-top: 6rem;
    }

    .weather-icon-container {
        display: none;
    }

    .title-weather-icon {
        display: inline-block;
        font-size: 1.4rem;
        vertical-align: middle;
        margin-left: 10px;
    }

    .card h2 {
        position: absolute;
        top: 1.5rem;
        background-color: var(--tertiary-color);
        color: #ffffff;
        margin: 0;
        padding: 0.8rem 1.5rem;
        border: none;
        width: 85%;
        font-size: 1.4rem;
        text-align: left;
    }
    .data-card h2 {
        left: 0;
    }
    .weather-card h2 {
        left: 0;
        text-align: left;
        display: flex;
        align-items: center;
    }
    .weather-card h2::after {
        content: " ⛅";
        font-size: 1.4rem;
        margin-left: 10px;
    }
}